[submodule "scummvm"]
	path = scummvm
	url = https://github.com/scummvm/scummvm
[submodule "3rdparty/freetype"]
	path = 3rdparty/freetype
	url = https://github.com/freetype/freetype
[submodule "3rdparty/fluidlite"]
	path = 3rdparty/fluidlite
	url = https://github.com/divideconcept/FluidLite
[submodule "3rdparty/libfaad"]
	path = 3rdparty/libfaad
	url = https://github.com/gypified/libfaad
[submodule "3rdparty/flac"]
	path = 3rdparty/flac
	url = https://github.com/xiph/flac
